/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'tailwindcss';
@import './font.css';
@import './cutom.css';
@import './tailwind.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;

  /* image bg */
  background-image: url('/public/img/bg.png');
  background-size: contain;
  background-position: left;
  background-repeat: repeat;
}

body {
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100%;
}
