@theme {
  --font-display: 'Inter', 'sans-serif';

  --brand--25: #FCE6EA;
  --brand--50: #FCE6EA;
  --brand--100: #F7B0BE;
  --brand--200: #F38A9E;
  --brand--300: #EE5572;
  --brand--400: #EA3456;
  --brand--500: #E5012C;
  --brand--600: #D00128;
  --brand--700: #A3011F;
  --brand--800: #7E0118;
  --brand--900: #600012;
  --brand--950: #600012;
  
  --error--25: #FFFBFA;
  --error--50: #FEF3F2;
  --error--100: #FEE4E2;
  --error--200: #FECDCA;
  --error--300: #FDA29B;
  --error--400: #F97066;
  --error--500: #F04438;
  --error--600: #D92D20;
  --error--700: #B42318;
  --error--800: #912018;
  --error--900: #7A271A;
  --error--950: #55160C;
  
  --warning--25: #FFFCF5;
  --warning--50: #FFFAEB;
  --warning--100: #FEF0C7;
  --warning--200: #FEDF89;
  --warning--300: #FEC84B;
  --warning--400: #FDB022;
  --warning--500: #F79009;
  --warning--600: #DC6803;
  --warning--700: #B54708;
  --warning--800: #93370D;
  --warning--900: #7A2E0E;
  --warning--950: #4E1D09;
  
  --success--25: #F6FEF9;
  --success--50: #ECFDF3;
  --success--100: #DCFAE6;
  --success--200: #ABEFC6;
  --success--300: #75E0A7;
  --success--400: #47CD89;
  --success--500: #17B26A;
  --success--600: #079455;
  --success--700: #067647;
  --success--800: #085D3A;
  --success--900: #074D31;
  --success--950: #053321;
}
